<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
		<div sec:authorize="isAuthenticated()">
		welcome <span sec:authentication="name">username</span>
		<span sec:authentication="principal.authorities">Roles</span>
		</div>
			
		<div sec:authorize="isAuthenticated()">
	    Welcome <b><span sec:authentication="name">Username</span></b>
	    &nbsp;
	    <i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
	    <input type="submit" value="Logout" />
	</form>
	
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
	    <a href="/new">Create New Product</a>
	</div>

	<div sec:authorize="hasAuthority('ADMIN')">
	    <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>
	</div>
 </div>

</body>
</html>